<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Метрики</title>
</head>
<body>
<table>
    <thead>
        <tr><th>Название</th><th>Тип</th><th>Значение</th></tr>
    </thead>
    <tbody>
    {{range .}}
        <tr><td>{{.Name}}</td><td>{{.Type}}</td><td>{{.Value}}</td></tr>
    {{end}}
    </tbody>
</table>
</body>
</html>